* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffae00, #ff8800);
  gap: 1.5rem;
  color: white;
}

.login input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 250px;
  max-width: 80%;
  font-size: 1rem;
}

.login button {
  padding: 0.5rem 1rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 150ms;
}

.login button:hover {
  background-color: #e05400;
}

.login p {
  color: #ffdddd;
}

.backgroundDiv {
  background-color: #ffae00;
}

.backgroundReport {
  background-color: #786951;
}
