* {
  box-sizing: border-box;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ffae00, #ff8800);
  gap: 1.5rem;
  color: white;
}

.login input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 250px;
  max-width: 80%;
  font-size: 1rem;
}

.login button {
  padding: 0.5rem 1rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 150ms;
}

.login button:hover {
  background-color: #e05400;
}

.login p {
  color: #ffdddd;
}

.backgroundDiv {
  background-color: #ffae00;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.backgroundReport {
  padding: 7px;
  background-color: #786951;
  border: 10px  #000000;
}

#fileContent {
  background-color: #7e5b3f;
  color: #b8b8b8;
}

.login-aviso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 10rem;
}


.avis-text {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.errorcontainer {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1rem;
  color: white;
  background: linear-gradient(135deg, #ffae00, #ff8800);
}

.login-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  color: #ff8800;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}
