<div class="admin">

  <div class="login">
    <div class="backgroundDiv">
      <h2>Stats</h2>
      <p>RAM: {{ stats.ram_used }} / {{ stats.ram_total }}</p>
      <p>CPU: {{ stats.cpu?.join(', ') }}</p>
    </div>

    <div class="backgroundDiv">
      <h2>Queixes usuaris</h2>
      <button (click)="fetchFiles()">Actualitzar</button>

      <br>

      @for (file of files; track file.name) {
        <div class="backgroundReport">
          <h5 (click)="seleccionarFitxer(file)" style="cursor:pointer">
            {{ file.name }} — {{ file.size }}b
          </h5>

          @if (fileSeleccionat?.name === file.name) {
            <div id="fileContent">
              <p>{{ file.contingut }}</p>
            </div>
          }
        </div>
      }
    </div>
  </div>
</div>
