.videos-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 1rem;
  color: white;
  background: linear-gradient(135deg, #ffae00, #ff8800);
}


.main > div {
  width: 90%;
  max-width: 40rem;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}


main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}


div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  color: black;
}

div.seleccionar-video {
  border: none;
  box-shadow: none;
}

select {
  width: 100%;
  padding: 0.4rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: background-color 0.4s ease;
}

select:hover {
  border-color: #ff8800;
}

button {
  padding: 0.5rem 1rem;
  background-color: #ff6600;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 150ms;
}

button:hover {
  background-color: #e05400;
}

.video-player video {
  margin-top: 15px;
  border-radius: 8px;
}


.login-aviso {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10rem 10rem;
}


.avis-text {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
  color: #ff8800;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.login-button:hover {
  background-color: #ffe5b4;
}

@media (max-width: 480px) {
  main {
    padding: 1rem;
    gap: 1rem;
  }

  select, button {
    width: 100%;
  }

  div {
    padding: 0.8rem;
  }

  main h1 {
    font-size: 1.5rem;
  }

  p, button, select {
    font-size: 0.9rem;
  }
}
